@charset "utf-8";

/*

    Advanced Topic Project
    Author: Spencer Z Poole
    Date: 5/13/2021

    Filename: domain_claiming_layout.css
    
*/

/* HTML and Body Styles */

html {
   background: white;
   font-family: Verdana, Geneva, sans-serif;
   font-size: 12px;
   background-image: url('domain_claiming_background.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
}

body {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;   
   max-width: 1024px;
   min-width: 641px;
   margin: 0px auto;
   border: 1px solid rgb(221, 221, 221);
   background: rgb(255,255,255,0.75)
}

/* Header Styles */

body > header {
   width: 100%;
   position: relative;  
   text-align: center;
}

/* Middle Navigation Styles */

nav#middle ul {
   clear: left;
   -webkit-display: flex;
   display: flex;
   -webkit-flex-flow: row nowrap;
   flex-flow: row nowrap;
   -webkit-justify-content: space-evenly;
   justify-content: space-evenly;
   -webkit-align-items: center;
   align-items: center;
   -webkit-list-style-type: none;
   list-style-type: none;
   background-color: rgb(2,38,126, 0.9);
   height: 40px;
}
   
nav#middle ul li {
   -webkit-flex: 0 1 80px;
   flex: 0 1 80px;   
   margin: 10px;
}

nav#middle ul li a {
   overflow: hidden;
   color: rgb(255, 255, 255);
   display: block;
   font-size: 1em;
   text-align: center;
   padding: 50% 0%;
   flex-wrap: nowrap;
   flex-flow: row-nowrap;
}

nav#middle ul li a:hover, nav#middle ul li a:active {
   color: rgb(211, 211, 211);
   text-shadow: 0px 0px 2px black, 0px 0px 8px black;
}

/* Article Styles */

article {
   padding-left: 20px;
   font-size: 1.2em;
   line-height: 1.4em;
   margin: 15px;
}

/* Footer Styles */

footer {
    width: 100%;
    font-size: 1.2em;
 }
 
 footer p {
    color: rgb(211, 211, 211);
    text-align: center;
    background-color: rgb(2,38,126, 0.9);
    margin: 0px;
    padding: 10px 0px;
 }

/* ===============================
   Mobile Styles: 0px to 640px 
   ===============================
*/
@media only screen and (max-device-width: 640px) {

    body { 
        max-width: 640px;
        min-width: 1px;
    }

    article {
        padding-left: 10px;
        margin: 5px;
    }
}
 

