@charset "utf-8";

/*

Spencer Z Poole Portfolio Website
Author: Spencer Z Poole
Date: 6/2/2021

Filename: index_layout.css
    
*/

/* HTML and Body Styles */

html {
   background: white;
   font-family: 'Courier New', Courier, monospace;
   font-size: 16px;
}

body {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: column;
   flex-flow: column;
   margin-top: 0px;
   margin-right: 0px;
   margin-left: 0px;
}

/* Banner Style */

#banner {
   font-size: 1.2vw;
   font-family: Helvetica, arial, sans-serif;
   height: 2.2em;
   display: flex;
   text-align: center;
   vertical-align: middle;
   width: 100%;
   transition: all 0.6s ease;
}

#banner:hover, .banner:active {
   background-color: lightgrey;
}

#banner-link {
   width: 100%; /* make banner interactable across entire screen */
   text-decoration: none;
   margin: auto;
   color: black;
   letter-spacing: 1.5px;
}

/* Logo Style */

#logo {
   border: 1px solid black;
   font-size: 2.25vw;
   display: flex;
   margin-right: auto;
   margin-left: auto;
   margin-top: 4vw; /* distance logo downwards from banner */
   margin-bottom: 0px;
}

#logo-link {
   display: flex;
   font-weight: 700;
   text-decoration: none;
   color: black;
   letter-spacing: 2px;
   align-items: center;
   padding-top: 0.25em;
   padding-bottom: 0.25em;
   padding-right: 0.5em;
   padding-left: 0.5em;
}

/* Middle Navigation Styles */

nav#middle ul {
   font-family: Helvetica, arial, sans-serif;
   -webkit-display: flex;
   display: flex;
   -webkit-flex-flow: row nowrap;
   flex-flow: row nowrap;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-align-items: center;
   align-items: center;
   -webkit-list-style-type: none;
   list-style-type: none;
   height: 40px;
   padding-left: 0px;
   margin-top: 1vw;
   margin-left: 0px;
   margin-right: 0px;
}

nav#middle ul li a {
   color: black;
   display: flex;
   font-size: 1vw;
   font-weight: 400;
   padding-top: 4px;
   padding-bottom: 4px;
   border-bottom: 2px black;
   text-decoration: none;
   letter-spacing: 2px;
   margin-left: 1.5em;
   margin-right: 1.5em;
}

nav#middle ul li a:hover, nav#middle ul li a#active-page {
   color: rgb(101,101,101);
}

nav#middle ul li a#active-page{
   border-bottom: 1px solid black;
}

/* Business Card Styles */

#businesscard {
   display: -webkit-box;
   display: -moz-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   flex-direction: row nowrap;
   width: 50%;
   align-self: center;
   margin-top: 2.5vw;
}

#businesscard-avatar {
   width: 55%;
}

#businesscard-info-container {
   display: flex;
   flex-direction: column;
   width: 45%;
   background-color: rgb(243,243,243);
   justify-content: center;
   text-align: center;
}

#businesscard-info-container h3, #businesscard-info-container h2, #businesscard-info-container p, #projects-button {
   font-size: 1.5vw;
   font-weight: lighter;
   font-family: Helvetica, arial, sans-serif;
}

#businesscard-info-container h2, #projects-button {
   font-size: 1vw;
   color: rgb(101, 101, 101);
   letter-spacing: 2px;
   font-weight: 400;
   justify-self: center;
}

#businesscard-info-container h1 {
   font-size: 2vw;
}

#businesscard-info-container h3, #businesscard-info-container p {
   font-size: 1.2vw;
}

#businesscard-info-container p {
   font-size: 1vw;
}

#projects-button {
   color: black;
   font-size: 1vw;
   text-align: center;
   align-self: center;
   background-color: lightgray;
   margin-top: 1.5vw;
   padding-left: 2vw;
   padding-right: 2vw;
   text-decoration: none;
   font-weight: bold;
   padding-top: 1vw;
   padding-bottom: 1vw;
}

#projects-button:hover {
   
   box-shadow: gray, gray;
}

/* Article Styles */


/* Footer Styles */


/* ===============================
   Mobile Styles: 0px to 480px 
   ===============================
*/
@media only screen and (max-width: 480px) {

    html { 
        max-width: 480px;
    }
}

/* ===============================
   Tablet Styles:  >= 481px 
   ===============================
*/
@media only screen and (min-width: 481px) {

   html { 
       min-width: 481px;
   }
}

/* ===============================
   Desktop Styles: >= 769px 
   ===============================
*/
@media only screen and (min-width: 769px) {

   html { 
       min-width: 769px;
   }
}
 

